In [1]:
def sum1(n):
    result = 0
    for item in range(n+1):
        result += item
    return result

In [2]:
def sum2(n):
    result = n*(n+1)/2
    return result

In [3]:
import time

In [4]:
t1 = time.time()

In [5]:
sum1(1000000)

500000500000

In [6]:
t2 = time.time()

In [7]:
t2-t1

0.12406229972839355

In [8]:
t1 = time.time()

In [9]:
sum2(1000000)

500000500000.0

In [10]:
t2 = time.time()

In [11]:
t2-t1

0.05858302116394043

In [12]:
import numpy as np

In [13]:
samples = np.random.randint(1,100000)

In [14]:
t1 = time.time()
sum1(samples)
t2 = time.time()
t2-t1

0.014847040176391602

In [15]:
t1 = time.time()
sum2(samples)
t2 = time.time()
t2-t1

5.412101745605469e-05